body{
    background: url(../images/back_7.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* line-height prob */
/* ul.nav_list li{
    line-height: ;
} */

.account_management_div
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1%;
    /* border: 0.2vw solid rgb(88, 142, 169); */
    /* background-color: rgb(102, 37, 86); */

}



.sidebar ul li #account_management_link{
    color: rgb(26, 57, 81);
    background-color: white;
}

.account_management_div .tab{
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 10px 3px #6b6a6a; 
    border-bottom: 0.1vw solid rgb(52, 79, 95);
    display: flex;
    align-items: center;
    
}

.account_management_div .tab .tablinks
{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    font-size: 1.2vw;
}

.account_management_div .tab #account_btn
{
  background-color: rgb(52, 79, 95);
  color: white;
}

.account_management_div .tab_content
{
    position:absolute;
    padding: 1%;
    /* background-color: crimson; */
    width: 100%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}


.account_management_div .tab_content .search_form{
    /* display: none; */
    margin-top: 2%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.account_management_div .tab_content .search_form .search_bar{
    width: 30%;
    outline: none;
    background-color: white;
    border-radius: 10%/100%;
    border-color: rgb(194, 194, 194);
    border-width: 0.1vw;
    padding: 0.5%;
    font-size: 1vw;
}

.account_management_div .tab_content table{
    /* display: none; */
    width: 100%;
    margin-top: 2%;
    /* border: 0.1vw solid black; */
    border-collapse: collapse;
    font-size: 1.1vw;
    
}

.account_management_div .tab_content table td{
    border-bottom: 0.1vw solid rgb(52, 79, 95);
    text-align: center;
    padding: 0.5%;
    /* background-color: rgb(52, 79, 95,0.2); */
}

.account_management_div .tab_content table th{
    border: transparent;
    background-color: rgb(52, 79, 95);
    color: white;
    padding: 1%;
    font-size: 1.2vw;
    text-align: center;
}

.bx.bxs-trash-alt
{
    font-size: 2vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(124, 14, 14);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.bx.bxs-user-account
{
    font-size: 2vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(92, 51, 7);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.account_management_div #registration
{
    display: none;
}


.account_management_div #registration .registerForm 
{   
    padding: 2%;
    text-align: left;
    
}
.account_management_div #registration .registerForm .registerFields
{   
    font-size: 1vw;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: black;
    border:0.1vw solid black;

    
}
.account_management_div #registration .registerForm .registerFields[type=text],.registerFields[type=password]
{   
    border-radius: 4%/40%;
    margin-top: 2%;
    padding: 1%;
    width: 40%;
}

.account_management_div #registration .registerForm .registerFields.name
{   
    border-radius: 10%/45%;
    padding: 1%;
    width: 12%;
    margin-right: 1%;
}

.account_management_div #registration .registerForm .registerFields.id
{   
    border-radius: 10%/45%;
    padding: 1%;
    width: 15%;
}

.account_management_div #registration .registerForm label
{   
    font-size: 1.1vw;
    margin-left: 1%;
}
.account_management_div #registration .registerForm select
{   
    margin-top: 2%;
    font-size: 1.1vw;
    padding: 1%;
}

.account_management_div #registration .registerForm input[type=submit]
{   
    margin-top: 1.2%;
    float:right;
    padding: 1%;
    width: 15%;
    border-radius: 15%/45%;
    background-color: rgb(91, 220, 125);
    border:none;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
}

.tab_content .view_account
{
    display: none;
    padding: 0.5%;
}

/* .tab_content .view_account .view_form_div
{
} */

.tab_content .view_account .view_form_div #view_form
{
    font-size: 1.2vw;
    font-weight: 700;
    padding-left: 2%;
}

.tab_content .view_account .view_form_div #view_form label
{
    font-size:1.2vw;
    margin: 2% 0 0 0;

}

.tab_content .view_account .view_form_div #view_form .viewFields[type=text]
{
    border-radius: 7%/40%;
    margin: 2% 2% 0 0;
    padding:1%;
    font-size: 1vw;
    outline: none;
    background-color:transparent;
    color: black;
    border:0.1vw solid black;
}


.tab_content .view_account .view_form_div #view_form .viewFields
{
    border-radius: 7%/40%;
    margin: 2% 2% 0 0;
    padding:1%;
    font-size: 1vw;
    outline: none;
    background-color:transparent;
    color: black;
    border:0.1vw solid black;
}

.tab_content .view_account .view_form_div #view_form select
{
    margin-top: 2%;
    font-size: 1vw;
    padding: 1%;
}

.tab_content .view_account .view_form_div #view_form .viewFields.name
{
    margin: 2% 0 0 0;
}

.tab_content .view_account .view_form_div #view_form input[type=submit]
{   
    margin-top: 1.2%;
    float:right;
    padding: 1%;
    width: 15%;
    border-radius: 15%/45%;
    background-color: rgb(62, 60, 72);
    border:none;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;
}

.bx.bxs-x-circle
{
    font-size: 3vw;
    border-radius: 20%;
    color: rgb(124, 14, 14);
    /* border: 0.1vw solid rgb(52, 79, 95); */
}
/* CSS REGISTRATION INPUT ERRORS */
.form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 0.9em;
    color: #D83D5A;
  }
  .form_success span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 0.9em;
    color: green;
  }
  .error{
    color: #D83D5A;
  }

  #regForm{
      max-height: 500px;
      overflow-y: scroll;
  }