body{
    background: url(../images/back_4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar ul li #record_management_link{
    color: rgb(26, 57, 81);
    background-color: white;
}

.page_content_div .archives_div
{
    width: 100%;
    height: 100%;
}

.archives_div  #table_archives
{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8vw;
    text-align: center;
}

.archives_div .archives_table_div
{
    
    background: rgba(240, 238, 240, 0.61);
    box-shadow: 0px 10px 20px 3px #6b6a6a; 
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1%;

}




.archives_div  #table_archives th
{
    border: transparent;
    background-color: rgb(52, 79, 95);
    color: white;
    padding: 1%;
    font-size: 0.9vw;
}


.archives_div  #table_archives td
{
    border: 0.02vw solid rgb(52, 79, 95);
   
}


.bx.bx-refresh
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(47, 162, 45);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.archives_div form #patient_search
{
    margin-bottom: 2%;
    width: 35%;
    outline: none;
    background-color: white;
    border-radius: 3%/30%;
    border-color: rgb(194, 194, 194);
    border-width: 0.1vw;
    padding: 1%;
    font-size: 1vw;
}