thead{
    background-color: rgb(27, 73, 101);
}

.btn.restore{
    background-color: white;
    color: rgb(23, 195, 178);
}


.btn.restore:hover{
    background-color: rgb(23, 195, 178);
    color: white;
}