.card-header{
    background-color: rgb(27, 73, 101);
}
#dashboard_link{
    color:  #F7F6FB;
}
#dashboard_link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color:#F7F6FB;
}

.card.hover{
    background-color: rgb(27, 73, 101);
}

.card-body.hover{
    color:white;
}