body{
    background: url(../images/back_5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar ul li #report_generation_link{
    color: rgb(26, 57, 81);
    background-color: white;
}

.generated_report_div{
    width: 100%;
    height: 100%;


}

.generated_report_div h2{
    font-size: 2vw;
    padding: 1% 1% 1% 0;
    border-bottom: 0.1vw solid rgb(220, 218, 218);
 
}

.generated_report_info{


    background: rgba(240, 238, 240, 0.61);
    box-shadow: 0px 10px 20px 3px #6b6a6a; 
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    width: 100%;
    height: 100%;


 
}

.generated_report_info .report_div{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding: 3%;
}

table{
    width: 70%;
    font-size: 1vw;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    margin-bottom:5%;
}

th{
    background-color: rgb(52, 79, 95);
    color: white;
}

th,td{
    border: 0.01vw solid rgb(52, 79, 95);
    padding: 1%;
}

caption{
    font-size: 1.3vw;
    margin: 1%;
    font-weight: bold;
}


.generated_report_info .pdf_div{
    width: 100%;
    height: 10%;
    box-shadow: 0px 10px 20px 3px #6b6a6a; 
    

}

.generated_report_info form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1%;

}



.generated_report_info button
{
    padding: 0.8%;
    width: 10%;
    border-radius: 5%/20%;
    background-color: rgb(104, 13, 10);
    border:none;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #6b6a6a; 

}


.generated_report_info input[type="text"]
{
    width: 0;
    height: 0;
    visibility: hidden;

}


