body{
    background: url(../images/back_4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar ul li #record_management_link{
    color: rgb(26, 57, 81);
    background-color: white;
}

.page_content_div .record_management_div
{
    width: 100%;
    height: 100%;
}

.page_content_div .record_management_div .record_management_edit_div
{
    /* background-color: rgb(255, 255, 255); */
    padding: 1% 0 1% 0;
    height: 100%;
    /* display: none; */
}



.record_management_edit_div .edit_patient_form_div 
{

    box-shadow: 0px 10px 20px 3px #6b6a6a; 
    height: 100%;
    overflow-y: auto;
    padding: 1% 1% 6% 1%;
}

.record_management_edit_div .cancel_edit_patient_btn_div h2
{
    font-size: 2vw;
    margin-left: 1%;
}

.record_management_edit_div .edit_patient_form_div h4
{
    font-size: 1vw;
    margin-bottom: 2%;
    color: brown;
}

.record_management_edit_div .edit_patient_form 
{
    font-size: 1vw;
}

.record_management_edit_div .edit_patient_form input[type=text],.edit_patient_form input[type=date]
{
    font-size: 0.8vw;
    outline: none;
    border: 0.1vw solid black;
    border-radius: 2%/20%;
    margin-bottom: 2%;
    padding: 1.5%;
    width: 70%;
}


.record_management_edit_div .edit_patient_form input[type="radio"] {
    margin-bottom: 2%;
}

.record_management_edit_div .edit_patient_form input[type=submit]
{
    margin-top: 1.2%;
    float:right;
    padding: 1%;
    width: 15%;
    border-radius: 5%/20%;
    background-color: rgb(91, 220, 125);
    border:none;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}

.record_management_edit_div .edit_patient_form label
{
    font-size: 0.9vw;
    font-weight: bold;

}

.record_management_edit_div .edit_patient_form p
{
    margin-bottom: 1%;
    font-weight: bold;
    
}


.record_management_edit_div .cancel_edit_patient_btn_div .bx.bxs-x-circle
{
    font-size: 2.3vw;
    color: rgb(124, 14, 14);
    margin-right: 2%;
    border-right: 0.1vw solid rgb(220, 218, 218);
}

.record_management_edit_div .cancel_edit_patient_btn_div 
{
    border: 0.1vw solid rgb(220, 218, 218);
    padding: 0.5%;
    box-shadow: 0px 0px 10px 1px #6b6a6a; 
    display: flex;
    align-items: center;
}

.record_management_edit_div .edit_cont_div
{
    display: flex;
}

.record_management_edit_div .edit_cont
{
    width: 30%;
    margin: 1%;
}

.edit_patient_form .mutable
{
   border: 0.1vw solid rgb(194, 194, 194);
   padding: 1%;
   box-shadow: 0px 0px 10px 0px #6b6a6a; 

}