thead{
    background-color: rgb(27, 73, 101);
}

#patients_link{
    color:  #F7F6FB;
}

#patients_link::before{
    color:  #F7F6FB;
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.btn.add_patient{
    background-color: rgb(27, 73, 101);
    outline: none;
}

.btn.add_patient:hover{
    background-color: rgb(16, 42, 58);
    outline: none;
}

.btn.view_patient{
    background-color: white;
    color: rgb(34, 124, 157);
}

.btn#create_record{
    background-color: white;
    color: rgb(23, 195, 178);
}


.btn.discharge_patient{
    background-color: white;
    color: rgb(254, 109, 115);
}


.btn.view_patient:hover{
    background-color: rgb(34, 124, 157);
    color: white;
}


.btn#create_record:hover{
    background-color: rgb(23, 195, 178);
    color: white;
}

.btn.discharge_patient:hover{
    background-color: rgb(254, 109, 115);
    color: white;
}

.btn:hover{
    background-color: rgb(83, 148, 185);
}



/* edit patient  VIEW PATIENT . PHP*/

.btn.apply_btn{
    background-color: rgb(27, 73, 101);
}

/* add patient */

.next{
    background-color: rgb(27, 73, 101);
    color: white;
}

.next:hover{
    background-color: rgb(16, 42, 58);
    color: white;
}

.prev{
    background-color: gray;
    color: white;
}

.prev:hover{
    color: white;
    background-color: rgb(32, 32, 32);
}

.progress-bar{
    background-color: rgb(27, 73, 101);
}

/* for all */
.input_group{
    display: none;
}

.input_group.active_group{
    display: block;

}

.error{
    color:red;
    font-size: 13px;
}
.required:after {
    content:" *";
    color: red;
}

