thead{
    background-color: rgb(27, 73, 101);
}

#followup_link{
    color:  #F7F6FB;
}

#followup_link::before{
    color:  #F7F6FB;
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.btn.respond{
    background-color: white;
    color: rgb(255, 203, 119);
}

.btn.respond:hover{
    background-color: rgb(255, 203, 119);
    color: white;
}

.btn.not_avail{
    background-color: white;
    color: rgb(143, 23, 23);
}

.btn.not_avail:hover{
    background-color: rgb(143, 23, 23);
    color: white;
}


.btn.avail{
    background-color: white;
    color: rgb(23, 195, 178);
}


.btn.avail:hover{
    background-color: rgb(23, 195, 178);
    color: white;
}