body{
    background: url(../images/back_4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar ul li #record_management_link{
    color: rgb(26, 57, 81);
    background-color: white;
}


.page_content_div .record_management_div
{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}


.page_content_div .record_management_div .record_management_div_1
{
    /* display: none; */
    height: 100%;
}



.record_management_div_1 .patient_table_div  #table_patient
{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8vw;
    text-align: center;
}

.record_management_div_1 .patient_table_div
{
    height: 90%;
    overflow-y: auto;
    background: rgba(240, 238, 240, 0.61);
    box-shadow: 0px 0px 20px 3px #6b6a6a; 
    overflow-y: auto;
    padding: 2%;

}

.record_management_div_1 .patient_table_div  #table_patient th
{
    border: transparent;
    background-color: rgb(52, 79, 95);
    color: white;
    padding: 1%;
    font-size: 0.9vw;
}


.record_management_div_1 .patient_table_div  #table_patient td
{
    border: 0.02vw solid rgb(52, 79, 95);
   
}

.bx.bxs-file-find
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(61, 101, 157);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.bx.bxs-file-plus
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(47, 162, 45);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}
.bx.bxs-user-minus
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(126, 24, 24);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.bx.bxs-archive-in
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(58, 60, 58);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);

}

.record_management_div_1 .patient_search_div form #patient_search
{
    width: 35%;
    outline: none;
    background-color: white;
    border-radius: 3%/30%;
    border-color: rgb(194, 194, 194);
    border-width: 0.1vw;
    padding: 1%;
    font-size: 1vw;

}

.record_management_div_1 .add_patient_btn_div #archives_btn
{
    margin-top: 1.5%;
    padding: 1.3% 1% 1.3% 1%;
    width: 10%;
    border-radius: 7%/20%;
    background-color: rgb(58, 60, 58);
    border:none;
    font-size: 0.8vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}




.record_management_div_1 .add_patient_btn_div #add_patient_btn
{
    margin-top: 1.5%;
    padding: 1.3% 1% 1.3% 1%;
    width: 10%;
    border-radius: 7%/20%;
    background-color: rgb(10, 73, 104);
    border:none;
    font-size: 0.8vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}



.record_management_div_1 .add_patient_btn_div
{

    padding: 0.5%;
}



/* consultation form */

.page_content_div .record_management_div .record_management_div_4
{
    padding: 1% 0 1% 0;
    height: 100%;
    display: none;
   

}



.record_management_div .form_div
{
   
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 0px #6b6a6a; 
    padding: 1% 1% 6% 1%;

}


.record_management_div .form_div .cons_cont_div,.record_management_div .form_div .admi_cont_div,.record_management_div .form_div .med_cont_div,.record_management_div .form_div .lab_cont_div,.record_management_div .form_div .dis_cont_div
{
   
   display: flex;
   
}


.record_management_div .form_div .immutable
{
   margin-bottom: 2%;
   border: 0.1vw solid rgb(194, 194, 194);
   padding: 1%;
   box-shadow: 0px 0px 10px 0px #6b6a6a; 

}

.record_management_div .form_div .mutable
{
   border: 0.1vw solid rgb(194, 194, 194);
   padding: 1%;
   box-shadow: 0px 0px 10px 0px #6b6a6a; 

}

.form_div .cons_cont,.form_div .admi_cont,.form_div .med_cont,.form_div .lab_cont,.form_div .dis_cont
{
  width: 30%;
  margin: 1%;
}


.form_div .cons_cont.complaint,.form_div .admi_cont.diagnosis,.form_div .dis_cont.final_diagnosis,.form_div .dis_cont.operation
{
  width: 52.5%;
}

.record_management_div .form_div h2
{
    font-size: 2vw;
    margin-bottom: 2%;
}

.record_management_div .form_div form 
{
    font-size: 0.8vw;
}

.record_management_div .form_div form input[type=text],.record_management_div .form_div form input[type=date], .record_management_div .form_div form input[type=time]
{
    font-size: 0.8vw;
    outline: none;
    border: 0.1vw solid black;
    border-radius: 2%/20%;
    margin-bottom: 2%;
    padding: 1.5%;
    width: 70%;
}

.record_management_div .form_div form input[type=file]
{
    visibility: hidden;
    margin: 2% 0 2% 2%;
}

.record_management_div .form_div form #lab_res_up_button
{
    margin-top: 3%;
    width: 10%;
    padding: 3%;
    border-radius: 7%/20%;
    background-color: rgb(16,120,173);
    /* background-color: rgb(113, 19, 175); */
    border:none;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}

.record_management_div .form_div form input[type="radio"] {
    margin-bottom: 2%;
}

.record_management_div .form_div form input[type=submit]
{
    margin-top: 1.2%;
    float:right;
    padding: 1%;
    width: 15%;
    border-radius: 5%/20%;
    background-color: rgb(91, 220, 125);
    border:none;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}


.record_management_div .form_div form #lab_res_upload
{
    margin-top: 1.2%;
    float:right;
    padding: 1%;
    width: 15%;
    border-radius: 5%/20%;
    background-color: rgb(91, 220, 125);
    border:none;
    font-size: 0.9vw;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #6b6a6a; 
}



.record_management_div .form_div form textarea
{
    font-size: 0.8vw;
    outline: none;
    border: 0.1vw solid black;
    border-radius: 1%/3%;
    margin-bottom: 2%;
    padding: 1%;
    width: 100%;
    height: 25vh;
    resize:none;
}

.record_management_div .form_div form label
{
    font-size: 0.9vw;
   font-weight: bold;

}

.record_management_div .form_div form  p
{
    margin-bottom: 1%;
    font-size: 1vw;
    font-weight: bold;
}


.record_management_div .cancel_form_btn_div .bx.bxs-x-circle
{
    font-size: 2.5vw;
    color: rgb(124, 14, 14);
}

.record_management_div .cancel_form_btn_div 
{
    border: 0.1vw solid rgb(220, 218, 218);
    padding: 0.5%;
    box-shadow: 0px 0px 10px 1px #6b6a6a; 
    
}




/* 
MODAL */

.option_modal_div{
    position: absolute;
	width: 30%;
	border-radius: 3%;
	background-color: white;
	border:0.1vw solid rgb(220, 218, 218);
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	overflow: hidden;
	box-shadow: 1vw 1vw 6vw rgb(184, 184, 196);
    display: none;
}

.option_modal_div:focus{
    outline:none;
}



.option_modal_exit_div
{
	padding: 1%;
    border-bottom: 0.1vw solid rgb(220, 218, 218);
}


.option_modal_exit_div .bx.bxs-x-circle
{
    font-size: 2.5vw;
    color: rgb(124, 14, 14);
}

.modal_options_div
{
	padding: 5% 10% 5% 10%;
}


.modal_options_div .option_buttons
{
	text-align: center;
	margin: auto;
	margin-bottom: 3%;
	border:0.1vw solid rgb(220, 218, 218);
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 5%/30%;
	background-color: white;
	font-size: 1.2vw;
    font-weight: bold;
	outline:none;
}

.modal_options_div .option_buttons:hover
{
	background-color: rgb(16,120,173);
	color: white;
	border:0.1vw solid rgb(16,120,173);
    cursor: pointer;

}



.record_table_div
{
    padding: 2%;
    height: 80%;
    overflow-y: auto;
}

.record_table_div #records_table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2vw;
    text-align: center;
}

.record_table_div #records_table th
{
    border: transparent;
    background-color: rgb(52, 79, 95);
    color: white;
    padding: 1%;
    font-size: 1.2vw;
}


.record_table_div #records_table td
{
    border-bottom: 0.1vw solid rgb(52, 79, 95);
    padding: 0.5%;
   
} 



