thead{
    background-color: rgb(27, 73, 101);
    text-align: center;
    border:0.1rem solid rgb(27, 73, 101);
}

#report_generation_link{
    color:  #F7F6FB;
}

#report_generation_link::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #F7F6FB;
}
.summary{
    font-weight: bolder;
}

.total{
    font-weight: bolder;
    color: black;
    background-color: rgb(190, 233, 232);
}

table{
    border:0.1rem solid;
}


.generate{
    background-color: rgb(27, 73, 101);
    color: white;
}

.generate:hover{
    background-color: rgb(16, 42, 58);
    color: white;
}
.nums{
    text-align: center;
}