.tab {
    overflow: hidden; /*para kung may sumobra sa button(side, can be border) ma hihide*/
    border: 0.1vw solid #ccc;
    background-color: #f1f1f1;
  }

  .tab button {
    background-color: inherit;
    outline:none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .tab button .active {
    background-color: rgb(211, 204, 204);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .account_management_div{

    width: 30%;
  }