body{
    background: url(../images/back_7.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidebar ul li #record_management_link{
    color: rgb(26, 57, 81);
    background-color: white;
}

.page_content_div .view_patient_div
{
    height: 100%;
    width: 100%;
}

.page_content_div .view_patient_div .patient_records_div
{
    background: rgba(240, 238, 240, 0.61);
    box-shadow: 0px 0px 10px 3px #6b6a6a; 
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    width: 100%;
    height: 94%;
    overflow-y: auto;
}

.view_patient_div .tab{
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 10px 3px #6b6a6a; 
    border-bottom: 0.1vw solid rgb(52, 79, 95);
    display: flex;
    align-items: center;
}

.view_patient_div .tab .tablinks
{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1% 2% 1% 2%;
  font-size: 1.2vw;
} 

.view_patient_div .tab #admition_btn
{
  background-color: rgb(52, 79, 95);
  color: white;
}


.view_patient_div .consultation_div
{
    display: none;
}

.view_patient_div .lab_res_div
{
    display: none;
}

.view_patient_div .med_cert_div
{
    display: none;
}



.record_table_div
{
    padding: 1%;
    height: 80%;
    overflow-y: auto;
}

.record_table_div #records_table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8vw;
    text-align: center;
}

.record_table_div #records_table th
{
    border: transparent;
    background-color: rgb(52, 79, 95);
    color: white;
    padding: 1%;
    font-size: 0.9vw;
}


.record_table_div #records_table td
{
    border: 0.02vw solid rgb(52, 79, 95);
    font-size: 0.8vw;
}


.bx.bxs-file-export
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(199, 172, 64);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.bx.bxs-file-pdf
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;
    border-radius: 20%;
    color: rgb(160, 28, 28);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);

}

.bx.bxs-download
{
    font-size: 1.5vw;
    margin: 2%;
    padding: 1%;    
    border-radius: 20%;
    color: rgb(44, 44, 44);
    background-color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(52, 79, 95);
}

.bx.bxs-edit
{
    font-size: 1.2vw;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 128, 3);
    padding: 0.2%;
    border-radius: 20%;
}

.patient_info {
    font-size: 1.3vw;
    padding: 1.2%;
    margin-bottom: 1%;
    border-bottom: 0.1vw solid rgb(220, 218, 218);
}