body{
    position: relative;
    width: 100%;
    min-height: 100%;

    background: url(../images/back_6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.title_logo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
 
}

.input{
    position: fixed;
    top: 0;
    left: 60%;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.input .input_box
{
    margin: auto;
    width: 55%;
    padding: 16% 3% 16% 3%;
    border-radius: 5%;
    background-color: rgb(6, 7, 18,0.7);
}


.input .input_box form
{
    text-align: center;
    margin: auto;
}

.input .input_box form .fields{

    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom-color: white;
    border-bottom-width: 0.1vw;
    color: white;
    padding: 5% 2% 5% 2%;
    width: 70%;
    font-size: 1.5vw;
    margin-bottom: 10%;
    
}

.input .input_box form .fields::placeholder{

    color: white;
}



.input .input_box form .button
{
    border-radius: 13%/40%;
    background-color: rgb(47, 145, 225);
    border: none;
    width: 40%;
    padding: 3%;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
}

.title_logo{
    display: flex;
    align-items: center;
 }

.title_logo_cont{
   text-align: center;
   margin: auto;
   width: 50%;
}

.hosp_name{
    font-family: sans-serif;
    font-size: 2.5vw;
    color: rgba(28, 30, 44);
}


.logo{
    width: 60%;
    height: auto;

}
