.navbar{
    background-color: rgb(27, 73, 101);
}
#sign_out{
    font-weight: bolder;
    cursor: pointer;
  }

.logo{
    width: 5rem;
}

#profile,#records,#follow,#response,#about,#sign_out,#history{
    color: white;
}

.active_notif
{
    color: rgb(254, 109, 115);
    font-weight: bolder;
}
