/* COLORS
    dark blue - #003046;
    blue - #00B9F2;
    light blue - #00baf2;
*/

/* DEFAULT
--------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY
--------------------------------------------- */

body {
  margin: 0 auto;
  max-width: 1920px;
}

strong {
  font-weight: 700;
}

/* LINKS
--------------------------------------------- */

a {
  color:rgb(95, 168, 211);
}

.nav_btn{
  font-weight: 700;
  color: rgb(95, 168, 211);
}


/* BUTTONS
--------------------------------------------- */

button,
.button,
button.secondary,
.button.secondary,
button.ghost,
.button.ghost {
	color: #fff;
	padding: 10px 25px;
}

button,
.button {
  background: #00baf2;
}

button.secondary,
.button.secondary {
  background: #043146;
}

button.ghost,
.button.ghost {
  background: transparent;
  border: 1px solid #043146;
  color: #043146;
}

button:hover,
.button:hover {
  background: #003046;
}

button.secondary:hover,
.button.secondary:hover {
  background: #00baf2;
  color: #fff;
}

button.ghost:hover,
.button.ghost:hover {
  background: transparent;
  border: 1px solid #00baf2;
  color: #00baf2;
}

/* HEADER
--------------------------------------------- */

header {
	margin: 25px 0 0;
}

/* logo */

.logo {
	font-size: 30px;
	margin: 0 0 25px;	
}

/* MENU
--------------------------------------------- */

header nav {
  clear: both;
  display: none;
  float: left;
  width: 100%;
}

header nav ul {
  margin: 0 0 25px;
}

header nav li {
  display: block;
  width: 100%;
}

header nav a {
  color: #333;
  display: block;
  padding: 10px 0;
}

header nav ul ul {
	margin: 0;	
}

/* responsive menu */

.responsive-menu,
.responsive-menu:focus,
.responsive-menu:hover {
  color: #333;
  display: inline-block;
  font-size: 38px;
  padding: 0 12px;
  text-indent: 0px;
}

/* MAIN
--------------------------------------------- */

/* main {
  background-color: #003046;
} */

/* CSS Animation Example */

.pulse {
  -webkit-animation: pulse 1s ease infinite;/* see pulse keyframe below */
  -moz-animation: pulse 1s ease infinite;/* see pulse keyframe below */
  -o-animation: pulse 1s ease infinite;/* see pulse keyframe below */
  animation: pulse 1s ease infinite;/* see pulse keyframe below */
  border: 1px solid #008CBA;
  border-radius: 50%;
  color: #008CBA;
  cursor: pointer;
  display: none;
  left: 3.1%;
  padding: 15px;
  position: absolute;
  top: 52.8%;
  z-index: 9999999;
}

/* pulse animation Example */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* FOOTER
--------------------------------------------- */

footer {
  color: #003046;
  margin: 0 0 25px;
}

footer p {
  font-size: 18px;
}

/* footer social nav */

.footer .social-nav {
  font-size: 28px;
  margin: 0 0 25px;
}

.social-nav span {
  position: absolute;
  text-indent: -9999px;
}

.social-nav .fa-facebook-official {
  color: #3c5a98;
}

.social-nav .fa-twitter-square {
  color: #28aae1;
}

.social-nav .fa-pinterest-square {
  color: #cc2127;
}

.social-nav .fa-linkedin-square {
  color: #007bb6;
}

.social-nav .fa-google-plus-square {
  color: #df4c39;
}

.social-nav .fa-youtube-square {
  color: #ed2f30;
}

/* min-width 641px, medium screens
--------------------------------------------- */
@media only screen and (min-width: 40.063em) {
  
  /* MENU
    --------------------------------------------- */
  
  .responsive-menu,
  .responsive-menu:focus {
    display: none;
    text-indent: -9999px;
  }

  
  header nav {
    clear: none;
    display: inline-block;
    float: right;
    width: auto;
  }
  
  header nav ul {
    margin: 7px 0 0;
  }
  
  header nav li {
    display: inline-block;
	float: left;
	position: relative;
    width: auto;
  }
  
  header nav a {
	display: block;
    font-size: 18px;
    padding: 5px 15px 0;
    width: auto;
  }
  
  header nav a:hover {
    color: #333;
  }
  
  header nav a:after {
    content: "";
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 35px;
  }
  
  header nav a.active:after,
  header nav a:focus:after,
  header nav a:hover:after {
    content: "";
    border-bottom: 1px solid #00baf2;
    display: block;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 35px;
  }
  
  header nav li:last-child a {
    padding-right: 0;
  }
  
  /* drop down menu */
  
  header nav ul ul {
	background: #333;	
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 1;
  }

  header nav ul ul li {
	float: none;
	margin: 0;
	min-width: 200px;
	padding: 0;
  }
  
  header nav ul ul li:hover {
	background: #f6f6f6;  
  }

  header nav ul ul a {
	color: #fff;
	display: block;
	margin: 0;
	padding: 10px 0;
	text-align: center;
  }
  
  header nav ul ul a:after,
  header nav ul ul a.active:after,
  header nav ul ul a:focus:after,
  header nav ul ul a:hover:after {
	content: "";
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;  
  }

  header nav ul li:hover > ul {
	display: block;
  }
  
} /* END - Medium Screen Media Query */

/* min-width 1025px, large screens
--------------------------------------------- */
@media only screen and (min-width: 64.063em) {
  
  /* BODY
    --------------------------------------------- */
  
  
} /* END - Large Screen Media Query */


/* me */

