#response{
    font-weight: bolder;
}

.head_list{
    background-color: rgb(27, 73, 101);
    color: white;
    font-weight: bolder;
}

.avail{
    color: rgb(23, 195, 178);
    font-weight: bolder;
 
}

.alr_avail{
    color: rgb(255, 203, 119);
    font-weight: bolder;
 
}

.not_avail{
    color: rgb(254, 109, 115);
    font-weight: bolder;
}

.btn.clear{
    background-color: rgb(254, 109, 115);
    font-weight: bolder;
}

.btn.clear:hover{
    background-color: rgb(182, 75, 79);
    font-weight: bolder;
}